<?xml version="1.0" encoding="utf-8" ?>
<root xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--当前应用信息-->
  <app id="10501">
    <name>当前应用名称</name>
  </app>
  <!--授权中心-->
  <authcenter id="10001">
    <name>授权中心</name>
    <origin>http://localhost:8970</origin>
    <apiGroups>
      <api name="Token">/app/login</api>
      <api name="Verify">/app/verify</api>
    </apiGroups>
  </authcenter>
  <!--引用的服务-->
  <dependencies>
    <service id="10002">
      <name>IDBuilder</name>
      <origin>http://localhost:8962</origin>
      <apiGroups>
        <api name="idcreate"><![CDATA[/IDBuilder/Create?appid={appid}&name={name}&format={format}]]></api>
        <api name="idcreate2"><![CDATA[/IDBuilder/Create?appid={0}&name={1}&format={2}]]></api>
      </apiGroups>
    </service>
    <service id="10003">
      <name>服务B</name>
      <origin>http://baidu.com</origin>
      <authorize>MD5</authorize>
      <!--鉴权类型，默认不写-->
      <apiGroups>
        <api name="接口1">/c/d/e?f=3</api>
        <api name="接口2">/a/b/c</api>
      </apiGroups>
    </service>
  </dependencies>
</root>