<?xml version="1.0" encoding="utf-8" ?>
<root xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"> 
  <!--当前应用信息-->
  <app id="10001">   
    <name>当前应用名称</name>   
  </app>
  <!--引用的服务-->
  <dependencies>
    <service id="10002">
      <name>服务A</name>      
      <origin>http://localhost:8099</origin>
      <apiGroups>
        <api name="接口1"><![CDATA[/a/b?c=1&d=2]]></api><!--如果包含&特殊等xml关键字-->
        <api name="接口2">/a/b/c</api>      
      </apiGroups>
    </service>
    <service id="10003">
      <name>服务B</name>      
      <origin>http://baidu.com</origin>
      <authorize>MD5</authorize><!--鉴权类型，默认不写-->
      <apiGroups>
        <api name="接口1">/c/d/e?f=3</api>
        <api name="接口2">/a/b/c</api>      
      </apiGroups>
    </service>
  </dependencies>
</root>