
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Hello Aspect</h1>
    <h3>
        @ViewBag.aa
    </h3>
</body>
</html>
